.section-2{
    height:100vh;
    margin-bottom: 80px;
    padding: 0px 25px;
    .img-propia{
        margin-bottom: 30px;
        display: flex;
        justify-content: flex-end;
        img{
            width: 300px;
        }
    }
}